<style>
    .select2-selection--multiple,
    .select2-container--default .select2-selection--single {
        background-color: var(--gray-dark) !important;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #007bff;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple,
    .select2-container--default .select2-selection--single {
        border: 1px solid #ced4da;
        outline: 0;
    }

    .btn {
        margin-top: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #ced4da;
    }

    .select2-container .select2-selection--single {
        height: auto;
    }
</style>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Create a new movie</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <label for="name">Name movie</label>
                <input type="text" class="form-control" ng-model="title" />
                <label>Description</label>
                <textarea
                    class="form-control"
                    rows="3"
                    placeholder="Enter description..."
                    ng-model="description"></textarea>
                <label for="genre">Genres</label>
                <select
                    id="type"
                    class="select2"
                    multiple="multiple"
                    data-placeholder="Select a Genres"
                    style="width: 100%">
                    <option ng-repeat="item in genres" genre-id="{{item.id}}">
                        {{item.name}}
                    </option>
                </select>
                <label for="status">Status</label>
                <select
                    id="status"
                    class="form-control select2"
                    style="width: 100%">
                    <option selected="selected">Continue</option>
                    <option>Complete</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="imageurl">Image url</label>
                <input
                    type="file"
                    id="image-upload"
                    accept="image/*"
                    class="form-control"
                    style="display: none" />
                <input ng-model="imageurl" type="url" class="form-control" />
                <div
                    id="image"
                    class="mt-2"
                    style="height: 77%; width: 100%; cursor: pointer"
                    ng-click="handleUploadImg()">
                    <img
                        style="width: 100%"
                        data-ng-src="{{imageurl}}"
                        referrerpolicy="no-referrer" />
                </div>
            </div>
        </div>
        <div class="container-btn text-center">
            <button class="btn btn-primary" ng-click="handleSave()">
                Save
            </button>
            <button class="btn btn-danger" ng-click="handleBack()">Back</button>
        </div>
    </div>
</div>

<script>
    $('.select2').select2();
</script>